@import '../../../../assets/custom-styling/variables.scss';

header {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    color: $white-color;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    height: 50px;
    justify-content: space-between;
    letter-spacing: 1px;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 5;

    a {
        margin-left: 15px;
    }

    .date{
        align-items: center;
        background-color: $background-color;
        color: $primary-color;
        display: flex;
        height: 50px;

        p {
            align-items: center;
            border: 1px solid $primary-color;
            display: flex;
            height: 100%;
            padding: 0 10px;
        }
    }
}