@import '../../assets/custom-styling/variables.scss';

nav {
    background-color: $sidebar-color;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    top: 100px;
    width: 200px;

    span {
        align-items: center;
        display: flex;

        &:hover {
            background-color: $primary-color;
            color: $white-color;
            cursor: pointer;
        }

        .tab {
            color: $primary-color;
            padding: 10px 15px;
            text-decoration: none;
            width: 100%;

            &:hover {
                color: $white-color;
            }
        }

        .active {
            background-color: $secondary-color;
            color: $white-color !important;
        }
    }
}
