<div class="table">
    <div class="tableHeader">
        <p *ngFor='let field of fields'>
            {{ field.title }}
        </p>
    </div>
    <div class="tableBody">
        <div *ngFor='let item of items' class="tableBodyItem">
            <div #cell
                *ngFor='let field of fields' 
                class="tableBodyItemsCell" 
                [ngClass]="{'bold':field.field==='companyName'}"
            >
                <img *ngIf="field.field==='image'" src={{item[field.field]}}>
                {{ item[field.field] }}
            </div>
        </div>
    </div>
</div>