@import '../../../../assets/custom-styling/variables.scss';

.table {
    background-color: $white-color;
    left: 50%;
    position: absolute;
    top: 170px;
    transform: translate(-50%, 0);

    &Header {
        align-items: center;
        background-color: $secondary-color;
        display: flex;
        justify-content: space-between;

        p {
            color: $white-color;
            font-size: 20px;
            font-weight: bold;
            padding: 10px 0;
            width: 200px;

            &:first-child{
                width: 100px;
            }
        }
    }

    &Body {
        max-height: 70vh;
        overflow-y: scroll;

        &Item {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 5px 0;

            &:nth-child(even) {
                background-color: #f9f9f9;
            }

            &:hover {
                background-color: $background-color;
            }

            img {
                display: block;
                height: 24px;
                margin: 0 auto;
                width: 24px;
            }

            &Cell {
                width: 200px;

                &:first-child {
                    width: 100px;
                }
            }
            
            .bold {
                font-weight: bold;
            }
        }
    }
}